<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div >
      <h2>Select a theme</h2>
      <div>

      </div>
    </div>

    <div >
      <h2>Select a recipient</h2>
      <div>
        
      </div>
    </div>
  </body>
</html>
